* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  margin-top: 53px;
}

#showcase {
  background: linear-gradient(
      to bottom,
      rgba(175, 130, 201, 0.3),
      rgba(85, 46, 107, 0.4)
    ),
    url(../Images/movies-showcase.jpg);
  background-position: top center;
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#showcase .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  background-color: rgba(13, 33, 63, 0.8);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

.main-header {
  background-color: #ba94d1;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-header__logo {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 101px);
  font-family: "Roboto", sans-serif;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}
.main-nav__item::before {
  content: "\2022";
  color: #fff;
}
.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #153462;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item--login a:active {
  color: #fff;
  background-color: #153462;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item--login::before {
  content: none;
}

#how-it-works {
  padding: 10px;
  text-align: center;
}

.row {
  margin-top: 40px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col-4 {
  float: left;
  width: 25%;
}

.col-3 {
  float: left;
  width: 33.3%;
}

.col-2 {
  float: left;
  width: 50%;
}

.icon-box h3 {
  color: #52575d;
  font-size: 26px;
}

.icon-box i {
  color: #ba94d1;
}

.features__left {
  background: linear-gradient(
      to bottom,
      rgba(175, 130, 201, 0.2),
      rgba(85, 46, 107, 0.3)
    ),
    url(../Images/b-b.jpg);
  background-size: cover;
  background-position: top center;
  float: left;
}

.features__right {
  background-color: #f2f2f2;
  padding: 40px;
  vertical-align: top;
  float: right;
}

.features__left,
.features__right {
  height: 350px;
}

.features__right h3 {
  font-size: 28px;
}

.features__right a {
  font-size: 14px;
  margin-top: 15px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #52575d;
  font-size: 30px;
}

.plan {
  text-align: center;
  padding: 5px;
}

.plan--featured {
  position: relative;
  top: -20px;
}

.plan__badge {
  background-color: #fff;
  color: #ba94d1;
  padding: 8px;
  border-radius: 5px;
}

.recommended_plan {
  background-color: #153462 !important;
  color: #fff;
}

.inner-plan {
  background-color: #f2f2f2;
  padding: 25px 10px;
  height: 340px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  transition: box-shadow 0.5s;
}

.inner-plan:hover {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.plan__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

.container {
  margin: 0 auto;
  width: 1117px;
}

#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backtotop i {
  color: #153462;
  font-size: 45px;
  transition: color 0.5s;
}

#backtotop i:hover {
  color: #08172b;
}

.counter {
  background: linear-gradient(to bottom, #c5a6d9 0%, #ae82c9 100%);
  text-align: center;
  padding: 50px;
}

.counter__item {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.counter h4 {
  margin: 0;
  color: #fff;
}

.card-container {
  padding: 10px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(67, 66, 66, 0.1);
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 30px;
  height: 350px;
}

.card-image {
  max-height: 400px;
}

.img-fluid {
  width: 100%;
}

footer {
  background-color: #0d213f;
  padding: 30px;
}

footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

#social-links {
  text-align: right;
}

.fa-brands {
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
}

.fa-brands:hover {
  opacity: 0.7;
}

.fa-facebook {
  background-color: #1877f2;
  color: #fff;
}

.fa-twitter {
  background-color: #1d9bf0;
}

.fa-instagram {
  background-color: #7f0bfd;
  color: #fff;
}
